<button class="intents-item__action-button" mat-raised-button color="primary" (click)="onSave()">
  {{ 'generic.save' | translate }}
</button>

<app-intents-entities-list
  class="intents-item__entities-list-container"
  [filterEntities]="filterEntities"
  [isSelectMode]="!!currentSelection"
  (entitySelected)="onEntitySelected($event)"
>
</app-intents-entities-list>

<div class="intents-item__training-container">
    <div class="intents-item__heading">
    <h2>
      {{ 'intents.training-phrases.title' | translate }}
    </h2>
    <app-data-language-selection></app-data-language-selection>
  </div>
  <app-list-group-item
    *ngFor="let trainingPhrase of (mutableIntent.trainingPhrases | nameDataLanguage); let index = index;"
    [isTextOnly]="true"
  >
    <app-highlight-input
      [parts]="trainingPhrase.parts"
      (inputChanged)="onInputChange(index, $event)"
      (selectionChanged)="onSelection(index, $event)"
      (removed)="onRemove(index)"
    >
    </app-highlight-input>
  </app-list-group-item>
  <app-list-group-item
    class="last-item"
    [isTextOnly]="true"
  >
    <app-highlight-input
      [parts]="[]"
      [isAddMode]="true"
      (inputChanged)="onNewAdded($event)"
    >
    </app-highlight-input>
  </app-list-group-item>
</div>
