<button class="item__action-button " mat-raised-button color="primary" (click)="onSave()">
  {{ 'generic.save' | translate }}
</button>

<div class="item__config-block">
  <mat-checkbox
    [checked]="mutableFilterItem.isReadyForSearch"
    (change)="mutableFilterItem.isReadyForSearch = !mutableFilterItem.isReadyForSearch"
    class="item__general-config-checkbox"
  >
    {{'filters.edit.ready-for-search' | translate}}
  </mat-checkbox>
  <mat-checkbox
    [checked]="mutableFilterItem.isRequired"
    (change)="mutableFilterItem.isRequired = !mutableFilterItem.isRequired"
    class="item__general-config-checkbox"
  >
    {{'filters.edit.required' | translate}}
  </mat-checkbox>
  <mat-checkbox
    [checked]="mutableFilterItem.isOnlySynonyms"
    (change)="mutableFilterItem.isOnlySynonyms = !mutableFilterItem.isOnlySynonyms"
    class="item__general-config-checkbox"
  >
    {{'filters.edit.only-synonyms' | translate}}
  </mat-checkbox>
  <app-data-language-selection class="item__language-selection">
  </app-data-language-selection>
</div>

<div *ngFor="let entity of mutableFilterItem.entities; let index = index" class="item__synonyms-block">
  {{ entity.name | nameDataLanguage }}:
  <mat-form-field class="item__synonyms-input">
    <mat-chip-list #synonymsList>
      <mat-chip
        *ngFor="let synonym of (entity.synonyms | nameDataLanguage)"
        [removable]="true"
        (removed)="removeSynonym(index, synonym)"
      >
        {{ synonym }}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input
        [placeholder]="'filters.edit.synonyms' | translate"
        [matChipInputFor]="synonymsList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="addSynonym(index, $event)"
      >
    </mat-chip-list>
  </mat-form-field>
</div>
