@import 'variables.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-width: $min-screen-width;
  min-height: $min-screen-height;
  overflow: auto;
  position: relative;
}
