<mat-tab-group>
  <mat-tab label="Data driven">
    <div class="list__tab-content">
      <ng-container *ngTemplateOutlet="filterTemplate"></ng-container>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let group of groups">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ group }}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <app-list-group-item
            *ngFor="let entityFilter of filterEntities[group]; let last = last"
            [item]="entityFilter"
            [class.last-item]="last"
          >
          </app-list-group-item>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-tab>
  <mat-tab label="System">
    <div class="list__tab-content">
      <ng-container *ngTemplateOutlet="filterTemplate"></ng-container>
      <app-list-group-item
        *ngFor="let entityFilter of systemEntities; let last = last"
        [item]="entityFilter"
        [class.last-item]="last"
      >
      </app-list-group-item>
    </div>
  </mat-tab>
</mat-tab-group>

<ng-template #filterTemplate>
  <div class="list__search-container">
    <mat-form-field class="list__search-input">
      <input matInput [placeholder]="'Search filter'">
    </mat-form-field>
    <button mat-icon-button class="list__filter">
      <mat-icon>filter_list</mat-icon>
    </button>
  </div>
</ng-template>
