<div class="preference__block">
  <div class="preference__block-label">{{ 'account.preferences.language-change-title' | translate }}:</div>
  <mat-form-field>
    <mat-label>{{ 'account.preferences.language-select-placeholder' | translate }}</mat-label>
    <mat-select [value]="selectedLanguage" (selectionChange)="onLanguageChange($event)">
      <mat-option [value]="language" *ngFor="let language of availableLanguages">
        {{language}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
