@import 'common.scss';

@mixin side-content {
  width: $side-content-width;
  position: absolute;
  top: 0;
  bottom: 0;
}

.content {
  &__side-menu {
    @include side-content;
    border-right: $content-separator;
    left: 0;
  }

  &__try-it {
    @include side-content;
    border-left: $content-separator;
    right: 0;
  }

  &__header {
    height: $header-height;
    position: absolute;
    top: 0;
    left: $side-content-width;
    right: $side-content-width;
    border-bottom: $content-separator;
  }

  &__main-container {
    margin: 0 $side-content-width;
    padding-top: $header-height;
    width: calc(100% - #{$side-content-width * 2});
    height: 100%;
    position: relative;
  }

  &__main {
    width: 100%;
    height: 100%;
    padding: $main-content-padding;
    overflow: auto;
  }
}
